#reference: https://linux.die.net/man/8/pam_faillock
Name: faillock pam
Default: yes
Priority: 1024
Auth-Type: Primary
Auth:
  required           pam_faillock.so preauth
Account-Type: Primary
Account:
  required           pam_faillock.so
