#https://www.man7.org/linux/man-pages/man8/pam_tally2.8.html
Name: tally2 lockout after n failed login
Default: yes
Priority: 1024
Conflicts: cracklib
Auth-Type: Primary
Auth-Initial:
  required      pam_tally2.so deny={{ os_auth_retries }} onerr=fail unlock_time={{ os_auth_lockout_time }}
Account-Type: Primary
Account-Initial:
  required      pam_tally2.so
