#reference: https://linux.die.net/man/8/pam_faillock
Name: faillock lockout after failed attempts enforcement
Default: yes
Priority: 0
Auth-Type: Primary
Auth:
  required           pam_faillock.so authfail

